HOST='localhost'
USER= 'postgres'
PASSWORD='qwerty'
DB_NAME='db_name'
PORT='5432'

BOT_TOKEN='6334341283:AAHtQ5FYDjUrzexA7jbjhbhjbjhhjbhj'
OPEN_AI_TOKEN='api_key'
PROMPT = "Добро пожаловать в помощника по знакомствам! Я здесь, чтобы помочь вам во время знакомства с партнерами. Я могу предложить советы, ответить на вопросы или подсказать, как поступить в различных ситуациях."



